---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
---

<Layout>
	<div class="page-flow">
			<Header />

		<div class="reveal" style="--order: 1">
			<Main />
		</div>
	</div>
</Layout>
