---
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import Project from '@components/Project.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="../../src/styles/global.css">
	</head>
	<body>
		<Header/>
		<hr>
		<div class="introduction">
			<h1 class="presentation">Hola soy Juan Manuel Illazquez</h1>
			<p class="description">info sobre mi bla bla bla</p>
			<div class="etiquetas">
				<div class="etiqueta">C#</div>
				<div class="etiqueta">Java</div>
				<div class="etiqueta">Javascript</div>
			</div>
		</div>
		<div class="work">
			<div class="presentation">
				<div class="text">
					<h1 class="work-header">This is some of my work</h1>
					<p class="description">Take a look to my lastest projects</p>
				</div>
				<button>				<img src="assets/cohete.svg" alt="Icono">
					<span>See all</span></button>
			</div>
			<div class="work">
				<Project title="Titulo ejemplio" description="descripcion ejemplo" imageUrl="assets/stock-1.jpg" projectUrl="https://google.com"/>
				<Project title="Titulo ejemplio2" description="descripcion ejemplo" imageUrl="assets/stock-2.jpg" projectUrl="https://google.com"/>
				<Project title="Titulo ejemplio" description="descripcion ejemplo" imageUrl="assets/stock-1.jpg" projectUrl="https://google.com"/>
			</div>
		</div>
		<div class="work-together">
			<h1 class="title">Work together?</h1>
			<button onclick="window.location.href='mailto:tuemail@ejemplo.com';">
				<img src="assets/cohete.svg" alt="Icono">
				<span>Send me a message</span>
			</button>
		</div>
		<Footer/>
	</body>
</html>

<style>
	.work-together{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 20px;
		margin-left: 10%;
		margin-right: 10%;
	}
	.work .presentation button {
		width: 150px;
		height: 50px;
		margin-top: 50px;
	}
	.work .presentation{
		display: flex;
		justify-content: space-between;
		margin-left: 10%;
		margin-right: 10%;
	}
	.work .work-header{
		margin-top: 20px;
		margin-left: 10%;
	}
	.work .description{
		margin-left: 10%;
	}
	hr{
		margin-left: 10%;
		margin-right: 10%;
	}
.introduction {
	margin-top: 50px;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	align-items: center; /* Esto asegura que todo el contenido esté centrado horizontalmente */
}

.etiquetas {
	display: flex;
	justify-content: center; /* Centra las etiquetas horizontalmente */
	gap: 10px; /* Espaciado entre las etiquetas */
	margin-top: 10px; /* Añade margen superior para separar las etiquetas del título */
}

.etiqueta {
	background: linear-gradient(to right, #ad5389, #0f0c29);
	border-radius: 50px;
	padding: 5px 10px;
	text-align: center;
	width: auto; /* Ajusta el ancho al contenido */
	color: white;
	font-size: 14px;
}
* {
		color: white;
		margin: 0; /* Elimina el margen predeterminado */
		padding: 0; /* Elimina el relleno predeterminado */
	}

	.img-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center; /* Centra verticalmente */
		padding-top: 40px;
	}

	.img {
		max-width: 100%; /* Mantiene la imagen responsiva */
		height: auto; /* Mantiene la relación de aspecto */
		border-radius: 20px;
	}

	.img-container p {
		font-size: 3rem;
		color: white;
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%,-50%);
		background: transparent;
	}
	.project{
		margin-top: 20px;
		margin-left: 200px;
		margin-right: 200px;
		display: flex;
		justify-content: space-between;
	}
	.project img{
		max-width: 300px;
		border-radius: 20px;
	}
	.text h4{
		color: white;
		margin-top: 50px;
	}
	.text p{
		color: #797979;
	}
	/* From Uiverse.io by adamgiebl */ 
button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

button img {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  filter: invert(100%);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover img {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}

	
</style>
