---
import TimelineObject from "./TimelineObject.astro";
import {experience} from "../data/expetiencie";
---

<div class="flex justify-center">
<ol class="relative border-s border-default color-red">         
    {experience.map ((e) => (
        <TimelineObject
        empresaAño={e.companyPeriod}
        titulo={e.title}
        descripcion={e.description}
        />
    ))}
</ol>
</div>